#mapDiv{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#search {
    display: inline;
    position: relative;
    z-index: 2;
    top: 0px;
    left: 0px;
}

.nopadding{
    padding: 0 !important;
    margin: 0 !important;
}

#locateButton {
    display: inline;
    position: relative;
    top: -32px;
    left: 250px;
    z-index: 50;
}

div.widget-row{
    position: absolute;
    top: 20px;
    left: 75px;
}

div.outer-container{
    width: 100%;
    height: 100%;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 0px;
}

div.outer-container, div.row-map, div.map-column, div.sidebar{
    height: 96%;
}

div.sidebar > div.panel{
    height: 100%;
}

nav.navbar.navbar-inverse{
    margin-bottom: 0px;
}
