#mapDiv{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#search {
    display: inline;
    position: relative;
    z-index: 2;
    top: 0px;
    left: 0px;
}

.nopadding{
    padding: 0 !important;
    margin: 0 !important;
}

#locateButton {
    display: inline;
    position: relative;
    top: -32px;
    left: 250px;
    z-index: 50;
}

div.widget-row{
    position: absolute;
    /*display: block;*/
    top: 20px;
    left: 75px;
}

div.outer-container{
    width: 100%;
    height: 100%;
    padding: 10px;
}

div.outer-container, div.row-map, div.map-column, div.sidebar, div.sidebar > div.panel{
    height: 96%;
}
